body{
    background-image: url('https://wallpapers.com/images/hd/the-avengers-vm16xv4a69smdauy.jpg');
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/abstract-blue-geometric-shapes-background_24972-1841.jpg?w=1060&t=st=1702091343~exp=1702091943~hmac=f2fd32ecb252191b115a59d2d53c26884ca396ba919ddb949cb4c966d7ea15cd');
    background-size: cover;
}

/* Your existing CSS styles */

.gallery-section {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.card-details {
    padding: 15px;
}

.card-details h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.card-details p {
    font-size: 0.9em;
    color: #666;
}
nav ul li a.active {
    /* Define styles for active link */
    color: #4caf50; /* Change color, for example */
    font-weight: bold; /* Apply bold font weight */
    /* Add any other styles to distinguish the active link */
  }